general {
    # ----- AK47: Configuration ------
    
    # Base stats of the item
    D:Damage=8.2
    D:FireRate=0.6
    D:Recoil=4.0
    
    # Bullet drop-off
    D:GravityVelocity=0.0118
    
    # The information displayed in the lore of the item
    # Warning: This does not automatically update with Damage or Rate of Fire
    S:Description <
	Supreme Lord Kalashnikov commands you to  K E E P  S H O O T I N G
        Magazines:
        30rnd 7.62x39mm Magazine
      
     >
}